<%- include("partials/header") %>
<div class="container">
    <h1>New Band</h1>
    <div class="container col-8 mx-auto">
        <form action="/artist" method="POST">
            <div class="form-group">
                <label for="band[name]">Band Name</label>
                <input type="text" class="form-control" name="band[name]" placeholder="Band Name" required>
            </div>
            <div class="form-group">
                <label for="band[yr_formed]">Year Formed</label>
                <input type="text" class="form-control" name="band[yr_formed]" placeholder="year formed">
            </div>
            <div class="form-group">
                <label for="band[yr_disbanded]">Year Disbanded</label>
                <input type="text" class="form-control" name="band[yr_disbanded]" placeholder="year disbanded">
            </div>
            <div class="form-group">
                <label for="band[country]">Country of Origin</label>
                <input type="text" class="form-control" name="band[country]" placeholder="country of origin">
            </div>
            <div class="form-group">
                <label for="band[genre]">Genre</label>
                <input type="text" class="form-control" name="band[genre]" placeholder="genre">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <br>
    <a href="/artists">Back</a>
</div>

<%- include("partials/footer") %>